<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>Document</title>
</head>
<body>
    <%- include("partials/navigation")  %>
    
   <div class="container p-5">
    <div id="contenedor" class="card card-body">
        <img src="https://i.pinimg.com/236x/9d/2a/8b/9d2a8b59b295dec82120fac410b3e5e0--logos.jpg" alt="">
        <h1>Bienvenido a la landing page</h1>
        <div id="links">
            <h3>Para añadir una foto <a href="/add" class="link-primary">Pincha aqui</a></h3>
            <h3>Para mirar tus fotos <a href="/index" class="link-primary">Pincha aqui</a></h3>
        </div>
    </div>
   </div>
</body>
</html>