body{
    height: 99vh;
    background-color: #00487C;
}

#contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;



}

#links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:80px;
}

#imagen{
    width: 75px;
}

h1{
    margin-top: 40px;
}

#color{
    background-color: #4C6768;
}